

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ---------------- H2 ---------------- */
h2 {
  margin: 20px auto;
  text-align: center;
  font-size: 44px;
  font-weight: 900;
  text-transform: capitalize;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande";
  background: linear-gradient(
    270deg,
    rgb(212, 75, 12),
    rgb(188, 194, 12),
    green
  );

  animation: slideDown 1s ease forwards;
}
body {
  background-color: black;
}

/* ---------------- CONTAINER ---------------- */
.container {
  margin-top: 100px;
  padding: 40px 0;

  /* background:linear-gradient(270deg, rgb(212, 75, 12), rgb(188, 194, 12), green); */
  background-size: 400% 400%;
  animation: gradientMove 6s ease infinite;
}

/* ---------------- H1 ---------------- */
h1 {
  text-transform: capitalize;
  font-size: 70px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  text-align: center;

  background: linear-gradient(to right, blue, red, yellow);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;

  animation: typing 3s steps(18) infinite, blink 0.7s infinite;
  overflow: hidden;
  white-space: nowrap;
  border-right: 5px solid red;
  width: 0;
  margin: auto;
}

/* --------- H1 HOVER EFFECT ---------- */
h1:hover {
  transform: scale(1.1);
  text-shadow: 0 0 10px rgba(255, 0, 0, 0.7), 0 0 20px rgba(0, 0, 255, 0.7);
  transition: all 0.4s ease;
  cursor: pointer;
}

/* ---------------- KEYFRAMES ---------------- */

/* Slide down */
@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Background gradient animation */
@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Typing effect */
@keyframes typing {
  0% {
    width: 0;
  }
  50% {
    width: 18ch;
  }
  100% {
    width: 0;
  } /* change text length if needed */
}

/* Cursor blink */
@keyframes blink {
  50% {
    border-color: transparent;
  }
}



