/* Remove default margin & padding */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Full-page background */
body{
    min-height: 400vh;                 /* Enables scrolling */
    background-image: url("back_image.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;      /* IMPORTANT */
}

/* Empty scroll sections */
.page{
    height: 100vh;
}
